// Body
$base-font-size: 16px;
$base-font-style: normal;
$base-font-variant: normal;
$base-font-weight: normal;
$base-font-family: 'Nunito', sans-serif;
$base-line-height: 28px;

*, *::after, *::before {
  box-sizing: border-box;
}

body {
  font-family: $base-font-family;
  font-size: $base-font-size;
  line-height: $base-line-height;
  color: $body-color;
  background: $background;
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  input, textarea {
		border: $border-color 1px solid;
		outline: none;
		&:focus:required:invalid {
			border-color: $danger;
		}
		&:required:valid {
			border-color: $success;
		}
	}
}

::placeholder {
	color: #666;
}

*::selection {
  color: $white;
  background-color: $primary-color;
}

body::-webkit-scrollbar {
  width: 12px;               /* width of the entire scrollbar */
}
body::-webkit-scrollbar-track {
  background: $background;        /* color of the tracking area */
}
body::-webkit-scrollbar-thumb {
  background-color: $gray-blue;    /* color of the scroll thumb */
  border-radius: 0px;       /* roundness of the scroll thumb */
  // border: 3px solid orange;  /* creates padding around scroll thumb */
}
body {
  scrollbar-width: thin;          /* "auto" or "thin"  */
  scrollbar-color: $background $gray-blue;   /* scroll thumb & track */ 
}

// Headings
$heading-font-weight: 700;
$heading-font-family: 'Nunito', -apple-system, BlinkMacSystemFont, Helvetica Neue, Helvetica, Arial, sans-serif;

$font-size-h1:  36px;
$font-size-h2:  28px;
$font-size-h3:  24px;
$font-size-h4:  20px;
$font-size-h5:  18px;
$font-size-h6:  16px;

$heading-line-height: 1.2;

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: initial;
}

h1 {
  font-size: $font-size-h1;
}

h2 {
  font-size: $font-size-h2;
}

h3 {
  font-size: $font-size-h3;
}

h4 {
  font-size: $font-size-h4;
}

h5 {
  font-size: $font-size-h5;
}

h6 {
  font-size: $font-size-h6;
}


// Blockquote
blockquote {
  padding-left: $base-spacing-unit;
  border-left: 3px solid $primary-color;
  font-style: normal;
}


// Pre
pre {
  overflow: auto;
  padding: 15px;
  margin-bottom: 0;
  font-size: 14px;
  white-space: pre-wrap;
  word-wrap: break-word;
  word-break: break-all;
}


// Images
img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
  &+em {
    text-align: center;
    display: block;
    margin-top: 10px;
    font-weight: normal;
    font-size: 16px;
    color: $gray-blue;
  }
}


// Links
a {
    text-decoration: none;
    color: $link-color;
    transition: $global-transition;

    &:hover {
        color: $link-color-hover;
    }
}

// Hr
hr {
  display: block;
  height: 2px;
  padding: 0;
  margin: 30px 0;
  line-height: 0;
  border: 0;
  background-color: $border-color;
}


// Blockquote
blockquote {
  padding: 15px 15px 15px 30px;
  font-size: 18px;
  font-style: normal;
  border-left: 4px solid $primary-color;
  p {
    margin-bottom: 0;
  }
}


// Pre
pre {
  overflow: auto;
  padding: 15px;
  margin-bottom: 0;
  font-size: 14px;
  white-space: pre-wrap;
  word-wrap: break-word;
  word-break: break-all;
}

// Table
.table-container {
  max-width: 100%;
  overflow-x: auto;
}

$table-border-color: rgba(0,0,0,.12) !default;
$table-striped-color: rgba(242, 242, 242, 0.5) !default;

table {
  width:100%;
  display: table;
  border-collapse: collapse;
  border-spacing: 0;


  &.highlight > tbody > tr {
    transition: background-color .25s ease;
    &:hover {
      background-color: $table-striped-color;
    }
  }

  &.centered {
    thead tr th, tbody tr td {
      text-align: center;
    }
  }
}

tr {
  border-bottom: 1px solid $table-border-color;
}

td, th{
  padding: 15px 5px;
  display: table-cell;
  text-align: left;
  vertical-align: middle;
  border-radius: 2px;
}


$medium-screen: 992px !default;
$medium-and-down: "only screen and (max-width : #{$medium-screen})" !default;
// Responsive Table
@media #{$medium-and-down} {

  table.responsive-table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    display: block;
    position: relative;

    td:empty:before {
      content: '\00a0';
    }

    th,
    td {
      margin: 0;
      vertical-align: top;
    }

    th { text-align: left; }
    thead {
      display: block;
      float: left;

      tr {
        display: block;
        padding: 0 10px 0 0;

        th::before {
          content: "\00a0";
        }
      }
    }
    tbody {
      display: block;
      width: auto;
      position: relative;
      overflow-x: auto;
      white-space: nowrap;

      tr {
        display: inline-block;
        vertical-align: top;
      }
    }
    th {
      display: block;
      text-align: right;
    }
    td {
      display: block;
      min-height: 1.25em;
      text-align: left;
    }
    tr {
      border-bottom: none;
      padding: 0 10px;
    }

    /* sort out borders */
    thead {
      border: 0;
      border-right: 1px solid $table-border-color;
    }
  }

}